---
layout: layout--default
layout_class: home
---

<div class="layout__region region">

  <div class="layout__district district">

    <%= partial "components/hero", :locals => {
    :modifier => "home",
    :image => "",
    :heading => data.site.title
    } %>

  </div>

</div>

<div class="layout__region region">

  <div class="layout__district district">

    <%= partial "components/collection--start", :locals => {
      :modifier => "content"
      } %>

    <% data.copy.each do | content |%>
      <li class="collection__item">
        <section class="collection collection--<%= modifier %>">
          <h3 class="content__heading"><%= content.heading" %></h3>
          <% content.items.each do | item | %>
            <div class="collection__title"><%= content.title %></div>
            <div class="collection__copy"><%= content.copy %></div>
        </section>
    <% end %>
      </li>
    <% end %>

    <%= partial "components/collection--end" %>
  
 
    <%= partial "components/form", :locals => {
    :modifier => "contact",
    :heading => "Build your website with us.",
    :copy => "",
    :fields => [
    {
      :placeholder => "Your Name *",
      :name => "name",
      :type => :text
    },
    {
      :placeholder => "Email address *",
      :name => "email",
      :type => :email
    },
    {
      :placeholder => "What do you need? *",
      :name => "message",
      :type => :textarea
    },
    {
      :placeholder => "Send it to Cold & Goji!",
      :type => :submit
    }
    ]
    } %>

  </div>

</div>

