---
layout: layout--default
layout_class: home
---

<div class="layout__region region">

  <div class="layout__district district">

    <%= partial "components/hero", :locals => {
    :modifier => "home",
    :image => "",
    :heading => data.site.title
    } %>

  </div>

</div>

<div class="layout__region region">

  <div class="layout__district district">

    <%= partial "components/collection--start", :locals => {
      :modifier => "content",
      :heading => data.content.heading
      } %>
    <% data.content.items.each do | content |%>
      <li class="collection__item">
        <section class="content">
            <h4 class="content__title"><%= content.title %></h4>
            <div class="content__copy"><%= content.copy %></div>
        </section>
      </li>
    <% end %>
    <%= partial "components/collection--end" %>
  
    <%= partial "components/collection--start", :locals => {
      :modifier => "process",
      :heading => data.process.heading,
      :copy => data.process.copy
    } %>
    <% data.process.items.each do | item | %>
      <li class="collection__item">
        <section class="process">
          <div class="process__inner">
          <%= image_tag item.src, :class => 'process__image' %>
          <h2 class="process__heading"><%= item.name %></h2>
          </div>
        </section>
      </li>
    <% end %>
    <%= partial "components/collection--end" %>
 
    <%= partial "components/collection--start", :locals => {
      :modifier => "app",
      :heading => "We use these."
    } %>
    <% data.app.each do | app | %>
      <li class="collection__item">
        <section class="app">
          <div class="app__inner">
            <% link_to app.link, :class => 'app__link' do %>
            <%= image_tag app.src, :class => 'app__image' %>
          <% end %>
          </div>
        </section>
      </li>
    <% end %>

    <%= partial "components/collection--end" %>

    <%= partial "components/form", :locals => {
    :modifier => "contact",
    :heading => "Build your website with us.",
    :copy => "",
    :fields => [
    {
      :placeholder => "Your Name *",
      :name => "name",
      :type => :text
    },
    {
      :placeholder => "Email address *",
      :name => "email",
      :type => :email
    },
    {
      :placeholder => "What do you need? *",
      :name => "message",
      :type => :textarea
    },
    {
      :placeholder => "Send it to Cold & Goji!",
      :type => :submit
    }
    ]
    } %>

  </div>

</div>

